<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
      <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
      <div class="w-full h-full bg-zinc-900 p-10 text-white">
            <div class="nav mb-10">
                  <a class="text-zinc-500" href="/read">Read Users</a>
            </div>
            <h1 class="text-3xl tracking-tighter mb-3">Created User</h1>
            <form action="/create" method="post">
                  <input type="text" class="px-5 py-2 border-2 bg-transparent   border-zinc-800 outline-none "
                        name="name" placeholder="Enter your name">
                  <input type="text" class="px-5 py-2 border-2 bg-transparent   border-zinc-800 outline-none "
                        name="email" placeholder="Enter your email">
                  <input type="text" class="px-5 py-2 border-2 bg-transparent  border-zinc-800 outline-none "
                        name="image" placeholder="image-url">
                  <input type="submit" value="Create User"
                        class="px-9 py-5 border-2 bg-blue-900   border-zinc-800 outline-none rounded-lg  ml-3">
            </form>
      </div>
</body>

</html>